@media only screen and (max-width: 576px) {
    .banner-text {
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
    }
    #banner {
        height: 100vh;
        overflow: hidden
    }
    .banner-img{
        height: 100%;
    }
    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    #nav-bar .container a {
        display: block;
        font-size: 36px;
    }
    #nav-bar .container a::before {
        content: "";
        border-left: none;
        padding-right: 16px;
    }
    .certificate>div:nth-child(even) {
        padding-left: 0;
    }
    
    .border-left::before {
       margin-right: 0;
    
    }
    #certificate, #project{
        padding: 0 16px;
        margin-bottom: 24px;
    }
    .project-sub, .school-role{
        flex-direction: column;
    }
    .project-school, .project-role{
        padding-top: 12px;
    }
}
